div.content_wrap{
	width: 1000px;
	margin: auto;
}


/* LANDING PAGE*/


html#landing{
	background: url('../images/engage-background.JPG') no-repeat center center fixed;
	background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}



