@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Oswald|Pacifico');

* {
/*  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
  margin: 0;
}

/* background*/
html#landing{
	background: url('../images/engage-background.JPG');
	background-repeat:no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	overflow: auto;
	background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-color: #a1cef4;
}

html{
	background-color: #a1cef4;
}

div.content_wrap{
	/*max-width: 1200px;*/
	max-width: 1200px;
	margin-left: 10%;
}

/* Title, Subtitle, Nav */
div.nav{
	width: 22%;
	float: right;
	text-align: right;
	padding-right: 2%;
}

h1{
	font-weight: 100;
	font-size:	5em;
	font-family: 'Pacifico', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	text-align:right;
	margin-top: 50px;
	padding-right: 2%;
}

h2{
	font-weight: 100;
	font-size:	2em;
	font-family: 'Pacifico', Helvetica, sans-serif;
	color: #2b2b2b;
	text-align:right;
	padding-right: 2%;
}

.nav ul{
	list-style: none;
	text-align: right;
}

.nav li {
  font-family: 'Just Another Hand', sans-serif;
  font-weight: 100;
  font-size: 3em;
  height: 200%;
  margin-bottom: 10%;
}

.nav a{
  text-decoration: none;
  color: #2b2b2b;
}

.nav a:hover {
	text-decoration: underline;
}

.nav a.active {
	color:white;
}


/* Content Area */
div.content{
	width: 75%;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-align: justify;
	font-size: 1.5em;
	line-height: 2em;
	color: #2b2b2b;
}

.content p {
	margin-bottom: 2em;
}