body{
	background: black;
/*	background-image: url(../images/engage-background.JPG);
*/}

div.content_wrap{
	width: 1000px;
	margin: auto;
}


/* LANDING PAGE*/


body#landing{
	background: url('../images/engage-background.JPG') no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}